@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #fe2c55;
  --black: #000;
  --text_color: #161823;
  --white: #fff;

  //
  //
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  //   font-family: proxima-nova, sans-serif;
  // font-family: 'Nunito', sans-serif;
  //   font-family: ;
  //   font-family: 'IBM Plex Sans Regular', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;

  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text_color);
  overflow-y: overlay;
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  font-family: 'IBM Plex Sans', sans-serif;

  outline: none;
  border: none;
}

a[href] {
  color: var(--text_color);
  text-decoration: none;
}

ul {
  list-style: none;
}
