.menu_list {
  width: 224px;
  .menu_item {
    justify-content: start;
    padding: 11px 16px;
    width: 100%;
    font-weight: 600;
    color: #555666;

    line-height: 1.8rem;
    & {
      margin-left: 0;
    }
  }
}

.menu_item {
  &:hover {
    border-radius: 0;
    background-color: rgba(22, 24, 25, 0.06);
  }
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
}

.menu_body {
  overflow-y: auto;
}

.header {
  padding: 11px 16px;
  position: relative;
  text-align: center;
}
.btn-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  background-color: transparent;
  font-size: 1.8rem;
  cursor: pointer;
}
.header-title {
  font-size: 1.8rem;
}
