.header {
  --border-radius-search: 50px;
  --button-search-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.content {
  height: 100%;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.search_old,
.search {
  width: 361px;
}
.search {
  position: relative;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);

  border-radius: 50px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  border: 1.5px solid transparent;

  input {
    height: 100%;
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    caret-color: rgba(22, 24, 35, 0.12);
  }
  input:not(:placeholder-shown) ~ .btn_search {
    background-color: rgba(22, 24, 35, 0.06);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.12);
  }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--button-search-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}
.span {
  height: 28px;
  width: 1px;
  background: rgba(22, 24, 35, 0.12);
  margin: -3px 0;
}
.btn_search {
  width: var(--button-search-width);
  height: 100%;
  background-color: transparent;
  font-size: 2rem;
  border-bottom-right-radius: var(--border-radius-search);
  border-top-right-radius: var(--border-radius-search);
  color: rgba(22, 24, 35, 0.3);

  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search_title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
.actions {
  display: flex;
  align-items: center;
}

.more_btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.icon-upload {
  margin-right: 8px;
}

.action-btn {
  background-color: transparent;
  font-size: 2.4rem;
  margin-left: 24px;
  cursor: pointer;

  & + .action-btn {
    margin-right: 24px;
  }
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.btn_search,
.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.badge {
  position: absolute;
  top: -3px;
  right: -13px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: 'ProximaNova', sans-serif;
  background-color: var(--primary);
}
